body {
    padding-top: 30px;
    text-align: center;
}
div {
    padding-top: 10px;
    padding-bottom: 10px;
}
.feeButton { 
    width: 25%;
    font-weight: bold;
}
label, p, span {
    font-weight: bold;
    font-size: 20px;
}
input{
    text-align: center;
}